:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --body-background-color: #ffffff;
  --logo-black-color: #000000;
  --footor-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --footer-info-color: rgba(255, 255, 255, 0.6);
  --primary-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --secondary-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-border-color: 1px solid #eeeeee;
  --icon-color: #afb1b8;
  --icon-background-color: rgba(255, 255, 255, 0.1);
  --header-border-color: 1px solid #ececec;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo, .address__link {
  text-decoration: none;
}

.advantage-list, .product-list, .product-list__item, .team-list, .address__list, .portfolio-filter {
  list-style: none;
  margin: 0;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.page-header {
  border-bottom: var(--header-border-color);
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 0;
  }
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-info {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0 0 0 auto;
    text-decoration: none;
    list-style: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .header-info__item {
    color: var(--paragraph-text-color);
  }
  .header-info__item:hover, .header-info__item:focus {
    color: var(--accent-color);
  }
  .header-info__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-info__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-info__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header-info__link {
    color: var(--paragraph-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 250ms var(--timing-function);
    transition: 250ms var(--timing-function);
    -webkit-transition-property: color;
    transition-property: color;
    text-decoration: none;
  }
  .header-info__link:hover, .header-info__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header-info__icon {
    fill: currentColor;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header-info__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding: 32px 0;
    color: var(--primary-text-color);
    display: block;
    -webkit-transition: 250ms var(--timing-function);
    transition: 250ms var(--timing-function);
    -webkit-transition-property: color;
    transition-property: color;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .navigation__link--current {
    color: var(--accent-color);
    padding: 32px 0;
    position: relative;
    text-decoration: none;
  }
  .navigation__link--current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
  }
}

.logo {
  margin: 0;
  color: var(--accent-color);
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: color;
  transition-property: color;
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo--black {
  color: var(--logo-black-color);
  display: inline-block;
}

.logo--white {
  color: var(--body-background-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 480px) {
  .advantage-list {
    padding: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .advantage-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list__item {
    padding: 0;
    margin: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 480px) {
  .advantage-list__icon {
    background-color: var(--team-background-color);
    color: currentColor;
    width: 450px;
    height: 120px;
    border-radius: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    padding: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list__icon {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list__icon {
    width: 270px;
  }
}

@media screen and (min-width: 480px) {
  .advantage-list__title {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list__title {
    text-align: start;
  }
}

@media screen and (min-width: 480px) {
  .advantage-list__text {
    color: var(--paragraph-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list__text {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list__text {
    max-width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list {
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .product-list__item {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .product-list__overlay {
    width: 370px;
    height: 70px;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .product-list__text {
    text-transform: uppercase;
    color: var(--body-background-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 27px 82px;
    margin: 0;
  }
}

.team-list {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__card {
    width: 354px;
    height: 536px;
    margin: 15px;
  }
}

.team-list__card {
  text-align: center;
  -webkit-box-shadow: var(--team-card-shadow);
          box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--body-background-color);
}

@media screen and (max-width: 767px) {
  .team-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list__specialty {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .team-list {
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__card {
    text-align: center;
    -webkit-box-shadow: var(--team-card-shadow);
            box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 428px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__specialty {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--paragraph-text-color);
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.social-icons {
  padding: 0 122px 24px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons--footer {
  margin: 0;
  padding: 0;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--icon-color);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: fill;
  transition-property: fill;
  transition: 250ms var(--timing-function);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
  fill: var(--body-background-color);
}

.social-icons__link--fill {
  fill: var(--icon-color);
}

.social-icons__link--fill:hover, .social-icons__link--fill:focus {
  fill: var(--body-background-color);
}

.social-icons__link--with-background {
  fill: var(--body-background-color);
  background-color: var(--icon-background-color);
}

@media screen and (min-width: 480px) {
  .clients-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list__item {
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list__link {
    width: 210px;
    height: 92px;
    border-width: 1px;
    border-color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-color: var(--icon-color);
    fill: var(--icon-color);
    -webkit-transition: 250ms var(--timing-function);
    transition: 250ms var(--timing-function);
    -webkit-transition-property: fill;
    transition-property: fill;
    transition: 250ms var(--timing-function);
    -webkit-transition-property: border-color;
    transition-property: border-color;
  }
  .clients-list__link:hover, .clients-list__link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.footer {
  background-color: var(--footor-background-color);
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .footer__item--first {
    text-align: center;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item--first {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item--first {
    margin-right: 70px;
    margin-left: auto;
    width: 231px;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer__item--first-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__item--third {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item--third {
    padding-left: 0;
    margin-left: auto;
  }
}

.footer__title {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-background-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__title {
    padding-top: 0;
    text-align: center;
  }
}

.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-left: 0;
  padding-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: color;
  transition-property: color;
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--white {
  color: var(--body-background-color);
}

.address__link--info {
  color: var(--footer-info-color);
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    padding: 0;
    margin-right: auto;
  }
}

.subscribe-form .primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .subscribe-form .primary-button {
    margin-left: 12px;
  }
}

.subscribe-form__input {
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  width: 450px;
  height: 50px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-form__input:hover, .subscribe-form__input:focus {
  border-color: var(--accent-color);
}

.subscribe-form__text {
  padding-left: 29px;
  padding-right: 10px;
}

.subscribe-form__icon {
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  z-index: 1000;
}

.modal {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--body-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  opacity: 1;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.modal > .close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-field {
  width: 100%;
  position: relative;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field__title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
  padding-bottom: 4px;
}

.form-field__input {
  padding: 0 20px 0 42px;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  outline: none;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.form-field__input:hover, .form-field__input:focus {
  border-color: var(--accent-color);
}

.form-field__input:hover ~ .form-field__icon,
.form-field__input:focus ~ .form-field__icon {
  fill: var(--accent-color);
}

.form-field__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-field__icon {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 15px;
  fill: var(--primary-text-color);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.form-field__comment {
  margin-bottom: 20px;
}

.form-field__textarea {
  resize: none;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  outline: none;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.form-field__textarea:hover, .form-field__textarea:focus {
  border-color: var(--accent-color);
}

.form-field__check {
  margin-bottom: 20px;
}

.form-field__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form-field__checkbox:checked + .form-field__checkbox-icon {
  background: var(--accent-color);
  border-radius: 2px;
  border: none;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.form-field__checkbox-icon {
  width: 16px;
  height: 15px;
  fill: var(--body-background-color);
  border-radius: 2px;
  border-color: var(--logo-black-color);
  border: 2px solid var(--logo-black-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-field__checkbox-text {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-left: 7px;
  color: var(--paragraph-text-color);
}

.form-field__agree-link {
  color: var(--accent-color);
}

.form-field__button {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .portfolio-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 480px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-filter__item {
    margin-bottom: 15px;
  }
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  padding: 40px 0 60px;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    margin: 15px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: 370px;
  }
}

.portfolio__item-description {
  border: var(--card-border-color);
  border-top: none;
  border: false solid false;
}

@media screen and (max-width: 767px) {
  .portfolio__item-description {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item-description {
    max-width: 354px;
  }
  .portfolio__item-description .list-item:first-child {
    max-height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item-description {
    max-width: 370px;
  }
}

.portfolio__item-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px;
  margin: 0;
  color: var(--primary-text-color);
}

.portfolio__item-text {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  padding: 0 24px 20px;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 322px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item:first-child .portfolio__item-text {
    padding: 0 24px 56px;
  }
}

.portfolio__item-link {
  text-decoration: none;
  display: block;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition: 250ms var(--timing-function);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  transition: 250ms var(--timing-function);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.portfolio__item-link:hover, .portfolio__item-link:focus {
  -webkit-box-shadow: var(--portfolio-card-shadow);
          box-shadow: var(--portfolio-card-shadow);
}

.portfolio__item-link:hover .overlay,
.portfolio__item-link:focus .overlay {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__item-thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .portfolio__item-thumb {
    width: 370px;
  }
}

.overlay {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(33, 150, 243, 0.9)), to(rgba(33, 150, 243, 0.9)));
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  opacity: 0;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

@media screen and (max-width: 767px) {
  .overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 354px;
    padding: 24px;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 370px;
  }
}

.overlay__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

body {
  background-color: var(--body-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Arial', sans-serif;
}

.container, .page-header__container, .footer__container, .advantage-section__container, .product-section__container, .team-section__container, .clients-section__container, .portfolio-section__container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container, .page-header__container, .footer__container, .advantage-section__container, .product-section__container, .team-section__container, .clients-section__container, .portfolio-section__container {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .page-header__container, .footer__container, .advantage-section__container, .product-section__container, .team-section__container, .clients-section__container, .portfolio-section__container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .page-header__container, .footer__container, .advantage-section__container, .product-section__container, .team-section__container, .clients-section__container, .portfolio-section__container {
    min-width: 1200px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  width: 360px;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.secondary-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

.main-section {
  background-color: var(--footor-background-color);
  background-size: 100%;
  color: var(--body-background-color);
  margin-top: 0;
  padding: 118px 0 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero-480px.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero-480px.jpg);
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding: 200px 0 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-section {
    background-image: url(/img/hero-768px.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .main-section {
    background-image: url(/img/hero.jpg);
  }
}

.advantage-section {
  padding: 60px 0 60px;
}

@media screen and (min-width: 1200px) {
  .advantage-section {
    padding: 94px 0 94px;
  }
}

@media screen and (max-width: 1199px) {
  .product-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .product-section {
    margin: 0;
    padding-bottom: 94px;
  }
}

.team-section {
  background-color: var(--team-background-color);
}

@media screen and (min-width: 480px) {
  .team-section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding: 94px 0;
  }
}

@media screen and (min-width: 480px) {
  .clients-section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding: 94px 0;
  }
}

.portfolio-section {
  padding: 60px 0 0 0;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding: 94px 0;
  }
}

.primary-button {
  background-color: var(--accent-color);
  color: var(--body-background-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-top: 0;
  cursor: pointer;
}

.primary-button--shadow {
  -webkit-box-shadow: var(--primary-button-shadow);
          box-shadow: var(--primary-button-shadow);
}

.secondary-button {
  background: var(--team-background-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  margin-top: 0;
  cursor: pointer;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: all;
  transition-property: all;
}

.secondary-button:hover, .secondary-button:focus {
  background: var(--accent-color);
  color: var(--body-background-color);
  -webkit-box-shadow: var(--secondary-button-shadow);
          box-shadow: var(--secondary-button-shadow);
}

.close-button {
  fill: var(--logo-black-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--body-background-color);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-button__icon {
  fill: var(--logo-black-color);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.close-button__icon:hover, .close-button__icon:focus {
  fill: var(--accent-color);
}

.menu-container {
  background-color: var(--body-background-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
}

.menu-container.is-open {
  display: block;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button .icon-burger {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-navigation__list {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .mobile-navigation__list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    list-style: none;
    padding-left: 40px;
    padding-top: 48px;
    margin: 0;
    text-align: start;
  }
}

.mobile-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-navigation__link {
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-transition-property: color;
  transition-property: color;
}

.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: var(--accent-color);
}

.mobile-navigation__link--current {
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-info__list {
  list-style: none;
  margin: 0;
  padding: 302px 0 64px 40px;
}

.mobile-info__link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}

.mobile-info__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-phone__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 48px;
  margin: 0;
}

.mobile-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */