// Footer-section

.footer {
  background-color: var(--footor-background-color);
  padding: 60px 0;
}
.footer__title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-background-color);
}
.footer__container {
  @include flex ($ai: baseline);
  @extend .container;
}
.footer__item--first {
  margin-right: 70px;
}

.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  padding: 0;
  width: 231px;

  @extend %list;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  margin: 0 0 9px;
  @include transition (color);

   &:hover, &:focus {
    color: var(--accent-color);
  }
  @extend %link;
}
.address__link--white {
  color: var(--body-background-color);
}
.address__link--info {
  color: var(--footer-info-color);
}
.footer__item--third {
  padding-left: 0;
  margin-left: auto;
}