
.footer {
  background-color: var(--footor-background-color);
  padding: 60px 0;
}
.footer__container { 
  @extend .container;
@media screen and (min-width: 1200px) {
  @include flex ($ai: baseline);
 }
}
.footer__item {
@media screen and (max-width: 1199px) {
  align-items: center;
  text-align: center;
  }
@media screen and (min-width: 768px) {
  flex-grow: 1;
  }
}
.footer__item--first {
@media screen and (max-width: 767px){
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  flex-grow: 1;
  text-align: center;
  }
@media screen and (min-width: 1200px) {
  margin-right: 70px;
  margin-left: auto;
  width: 231px;
  text-align: start;
  }
}
.footer__item--first-second {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__item--third {
@media screen and (max-width: 1199px) {
  margin-top: 60px;
  }
@media screen and (min-width: 1200px) {
  padding-left: 0;
  margin-left: auto;
  }
}
.footer__title {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-background-color);
  margin-bottom: 20px;
@media screen and (max-width: 1199px) {
  padding-top: 0;
  text-align: center;
  }
}
.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-left: 0;
  @extend %list;
  margin-top: 20px;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
@media screen and (min-width: 1200px) {
  margin-bottom: 9px;
 }
}
.address__link {
  @include transition (color);
  &:hover, &:focus {
    color: var(--accent-color);
  }
  @extend %link;
}
.address__link--white {
  color: var(--body-background-color);
}
.address__link--info {
  color: var(--footer-info-color);
}











