.menu-container {
  background-color: var(--body-background-color);
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: 767px;
  z-index: 998;
  position: fixed;
  // display: flex;
  padding: 48px 40px;
  @include transition (opacity);
  
  &.is-open {
  display: block;
  }
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
  z-index: 999;
  border: none;
  fill: var( --primary-text-color);
  @include transition (fill);

@media screen and (min-width: 768px) {
  display: none;
  }
}
.menu-button {
&:hover,
&:focus {
    fill: var(--accent-color);
  }
}
.menu-button.is-open {
  position: absolute;
  right: 15px;
  top: 10px;
  margin: 0;
&:hover,
&:focus {
    fill: var(--accent-color);
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button .icon-burger {
  display: block;
}
.menu-button.is-open .icon-burger {
display: none;
}
.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
 .mobile__list {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 767px;
  flex-direction: column;
  align-content: space-between;
 }
.mobile__item-first {
  width: 100%;
  height: 100%;
}
.mobile__item-second {
  width: 100%;
}
.mobile-navigation__list {
 list-style: none;
 padding: 0;
 line-height: 1.175;
 letter-spacing: 0.02em;
 list-style: none;
 font-weight: 500;
 margin: 0;
 text-align: start;
@media screen and (max-width: 479px) {
 font-size: 20px;
}
@media screen and (min-width:480px) and (max-width: 767px) {
 font-size: 40px;
 }
}
.mobile-navigation__item:not(:last-child) {
  margin-bottom: 32px;
  }
.mobile-navigation__link {
  text-decoration: none;
  color: var(--primary-text-color);
  @include transition (color);
  &:hover, &:focus {
  color: var(--accent-color);  
   }
}
.mobile-navigation__link--current {
  color: var(--accent-color);
  text-decoration: none;
}
.mobile-info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.mobile-info__link {
  line-height: 1.166;
  text-decoration: none;
  color: var(--paragraph-text-color);
@media screen and (max-width: 479px) {
 font-size: 20px;
}
@media screen and (min-width:480px) and (max-width: 767px) {
 font-size: 24px;
 }
}
.mobile-info__item:not(:last-child) {
    margin-bottom: 32px;
}
.mobile-phone__link {
  line-height: 1.176;
  color: var(--accent-color);
@media screen and (max-width: 479px) {
 font-size: 20px;
}
@media screen and (min-width:480px) and (max-width: 767px) {
 font-size: 34px;
 }
}
.mobile-social__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 64px;
  flex-wrap: wrap;
}
.mobile-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}