.menu-container {
  background-color: var(--body-background-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;

  &.is-open {
  display: block;
  }
}
.menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}
.menu-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button .icon-burger {
  display: block;
  // z-index: 999;
}
// .icon-burger {
//   width: 24px;
//   height: 16px;
//   background-size: contain;
//   fill: var(--body-background-color);
//   align-items: center;
//   justify-content: center;
//   display: flex;
// }
.menu-button.is-open .icon-cross {
display: block;
z-index: 2;
}
.menu-button.is-open .icon-burger {
display: none;
z-index: 2;
}
.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
 .mobile__list{
   display: flex;
   flex-direction: column;
   align-content: space-between;
   justify-content: space-between;
 }
 .mobile-navigation__list {
  list-style: none;
  } 
.mobile-navigation__list {
    @media screen and (max-width: 767px) {
 font-weight: 500;
 font-size: 40px;
 line-height: 1.175;
 letter-spacing: 0.02em;
 list-style: none;
 padding-left: 40px;
 padding-top: 48px;
 margin: 0;
 text-align: start;
 }
}
  .mobile-navigation__item:not(:last-child) {
   margin-bottom: 32px;
  }
  .mobile-navigation__link {
  text-decoration: none;
  color: var(--primary-text-color);
  @include transition (color);
  &:hover, &:focus {
  color: var(--accent-color);  
   }
  }
  .mobile-navigation__link--current {
  color: var(--accent-color);
  text-decoration: none;
}
.mobile-info__list {
    list-style: none;
    padding-top: 302px;
    padding-left: 40px;
    padding-bottom: 64px;
    margin: 0;
}
.mobile-info__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: #757575;
}
.mobile-info__item:not(:last-child) {
    margin-bottom: 32px;
}
.mobile-phone__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.mobile-social__list {
    list-style: none;
    display: flex;
    padding-bottom: 48px;
    margin: 0;
}
.mobile-social__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    padding-right: 10px;
}
.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}