
.page-header {
  @include border ($use-bb:(var(--header-border-color)));
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  width: 100%;
  height: 100%;
 
@media screen and (min-width: 768px) {
  padding: 0;
  } 
}
.page-header > .menu-button {
  @include flex ($jc:center, $ai:center);
  width: 100%;
  height: 100%;
}
.page-header__container {
  @extend .container;
  display: flex;
  align-items: center;  
} 
.header-info {
@media screen and (max-width: 767px) {
    display: none;
  }
@media screen and (min-width: 768px) {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  padding: 21px 0;
  margin: 0 0 0 auto;
  text-decoration: none;
  list-style: none;
  }
@media screen and (min-width: 1200px) {
  @include flex ($ai: center);
  align-items: baseline;
  padding: 32px 0;
 } 
}
.header-info__item {
@media screen and (max-width: 1199px) {
    color: var(--paragraph-text-color);
  &:hover, &:focus {
    color: var(--accent-color);  
   }
  &:not(:last-child) {
    margin-bottom: 10px;
   }
  }
@media screen and (min-width: 1200px) {
  @include flex ($ai: center);
  &:not(:last-child) {
    margin-right: 30px;
   }
 }
}
.header-info__link {
@media screen and (min-width: 768px) {
  color: var(--paragraph-text-color);
  @include flex ($ai: center);
  @include transition (color);
  text-decoration: none;
  &:hover, &:focus {
  color: var(--accent-color);  
   }
  }
}
.header-info__icon {
@media screen and (min-width: 768px) {
  fill: currentColor;
  margin-right: 8px;
  }
@media screen and (min-width: 1200px) {
  margin-right: 10px;
  }
}



