
.portfolio-filter {
   @extend %list;
@media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    padding: 0;
}
@media screen and (min-width:768px) {
    @include flex ($jc: center);
    padding: 0;
  }
}
.portfolio-filter__item {
@media screen and (max-width:767px) {
 margin-bottom: 15px;
 }   
}
.portfolio-filter__item:not(:last-child) {
   margin-right: 8px;
 }
.portfolio-list {
  padding: 40px 0 60px;
  margin: 0;
  list-style: none;
@media screen and (min-width:768px) {
  padding-top: 30px; 
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
   }
@media screen and (min-width:1200px) {
  padding-top: 50px;
  padding-bottom: 0;
 }
}
.portfolio__item {
@media screen and (max-width:767px) {
    margin: 0;
  }
@media screen and (min-width:768px) {
    margin: 15px;
    width: 354px;
  }
@media screen and (min-width:1200px) {
    width: 370px;
  }
}
.portfolio__item:not(:last-child) {
@media screen and (max-width:767px) {
    margin-bottom: 30px;
  }
}
.portfolio__item-description {
  padding: 20px 24px;
  border: var(--card-border-color);
  @include border ($use-bt: none);
@media screen and (max-width:767px) {
  max-width: 450px;
  }
@media screen and (min-width:768px) {
   max-width: 354px;
    .list-item:first-child {
     max-height: 146px;
    }
    flex-grow: 1;
   }
@media screen and (min-width:1200px) {
   max-width: 370px;
   }
}
.portfolio__item-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}
.portfolio__item-text {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0;
  min-width: 322px;
}
.portfolio__item-link {
  text-decoration: none;
  display: block;
  // @include transition (transform);
 transition: 250ms var(--timing-function); 
  @include transition (opacity);
  // @include transition (box-shadow);

&:hover, &:focus {
    box-shadow: var(--portfolio-card-shadow);
    opacity: 1;
    // transform: translateY(-100%);
    @include transition (opacity);
    // @include transition (transform);
    }
&:hover .overlay,
&:focus .overlay {
    opacity: 1;
    transform: translateY(-100%);
    @include transition (opacity);
    @include transition (transform);
    }
    display: flex;
    flex-direction: column;
    height: 100%;
  }  
.portfolio__item-thumb {
  position: relative;
  overflow: hidden;
@media screen and (min-width:1200px) {
  width: 370px;
  }
}
.overlay {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(33, 150, 243, 0.9),
    rgba(33, 150, 243, 0.9)
  );
}
.overlay__text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    align-content: center;
    color: var(--body-background-color);
@media screen and (max-width:767px) {
    padding: 77px 24px;
 }
@media screen and (min-width:768px) {
    max-width: 354px;
    padding: 49px 24px;
  }
@media screen and (min-width:1200px) {
    max-width: 370px;
    padding: 63px 24px;
  }
}
