
// Hero-section
.main-section {
  background-color: var(--footor-background-color);
  background-size: 100%;
  color: var(--body-background-color);
  margin-top: 0;
  padding: 118px 0 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;

  


@media screen and (min-width:1200px) {
    padding: 200px 0 200px;
  }

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-480px.jpg);
    max-width: 1600px;

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: url(../img/hero-768px.jpg);
}
@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  background-image: url(../img/hero.jpg);
 }
}
.advantage-section {
  padding: 60px 0 60px;
@media screen and (min-width:1200px) {
  padding: 94px 0 94px;
}
}
.advantage-section__container {
  @extend .container; 
}
.product-section {
   @media screen and (max-width:1199px) {
   display: none;
}
  @media screen and (min-width:1200px) {
   margin: 0;
   padding-bottom: 94px;
}
}
.product-section__container {
  @extend .container;
}
.team-section {
  background-color: var(--team-background-color);
@media screen and (min-width:480px) {
  padding: 60px 0;
} 
@media screen and (min-width:1200px) {
    padding: 94px 0;
  }
}
.team-section__container {
  @extend .container;
}
.clients-section {
@media screen and (min-width:480px) {
  padding: 60px 0;
} 
@media screen and (min-width:1200px) {
    padding: 94px 0;
  }
}
.clients-section__container {
  @extend .container;
}
.portfolio-section {
  padding: 60px 0 0 0;
@media screen and (min-width:1200px) {
  padding: 94px 0; 
  } 
}
.portfolio-section__container {
  @extend .container;
}


