
//  social-icons 
.social-icons {
  padding: 0 122px 24px;

  list-style: none;
  @include flex ($jc:center, $ai:center);
  &--footer {
  margin: 0;
  padding: 0;
 }
}
.social-icons__item {
  &:not(:last-child) {
  margin-right: 10px;
  }
}
.social-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include flex ($jc:center, $ai:center);
  fill: var(--icon-color);
  @include transition (fill);
  @include transition (background-color);

  &:hover, &:focus {
  background-color: var(--accent-color);
  fill: var(--body-background-color);
  }
}
.social-icons__link--fill {
  fill: var(--icon-color);
  &:hover, &:focus {
  fill: var(--body-background-color);
 }
}

.social-icons__link--with-background {
  fill: var(--body-background-color);
  background-color: var(--icon-background-color);
}
.social-icons__link--with-background {
  fill: var(--body-background-color);
  background-color: var(--icon-background-color);
}
// .social-icons {
//   padding: 0 32px;
//   margin-bottom: 30px;
//   list-style: none;
//   @include flex ($jc: center, $ai: center);

//   &--footer {
//   padding: 0;
//  }
// }
// .social-icons__item {
//   &:not(:last-child) {
//   margin-right: 10px;
//   }
// }
// .social-icons__link {
//   width: 44px;
//   height: 44px;
//   @include flex ($jc: center, $ai: center);
//   border-radius: 50%;

//   fill: var(--icon-color);
//   @include transition (fill);
//   @include transition (background-color);

//   &:hover, &:focus {
//   background-color: var(--accent-color);
//   fill: var(--body-background-color);
//   }
// }
// .social-icons__link--fill {
//   fill: var(--icon-color);
//   &:hover, &:focus {
//   fill: var(--body-background-color);
//  }
// }

// .social-icons__link--with-background {
//   fill: var(--body-background-color);
//   background-color: var(--icon-background-color);
// }