// Footer subscribe-form

.subscribe-form {
  @extend %d-flex;
@media screen and (max-width: 1199px) {
  flex-direction: column;
  align-items: center;
  }
@media screen and (min-width: 1200px) {
  padding: 0;
  margin-right: auto;
  }
& .primary-button {
  @include flex ($ai: center);
  padding: 0;
  @media screen and (min-width: 1200px) {
  margin-left: 12px;
  }
  }
}
.subscribe-form__input {
  border-radius: 4px;
  @include border (1px, rgba(255, 255, 255, 0.3));

  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
 @include transition (border-color);
  width: 450px;
  height: 50px;
@media screen and (min-width: 1200px) {
  width: 358px;
  margin-bottom: 0;
  }
&:hover, &:focus {
    border-color: var(--accent-color);
  }
}
.subscribe-form__text {
  padding-left: 29px;
  padding-right: 10px;
}
.subscribe-form__icon {
  padding: 0;
}
