
.team-list {
  padding-left: 0;
  @extend %list;
@media screen and (min-width: 768px) {
  flex-wrap: wrap;
  display: flex;
  margin: -15px;
  }
@media screen and (min-width:1200px) {
  padding-left: 0;
  }
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list__card {
  text-align: center;
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--body-background-color);
@media screen and (max-width: 767px) {
  &:not(:last-child) {
  margin-bottom: 30px;
 }
 }
@media screen and (min-width: 768px) {
  width: 354px;
  height: 536px;
  margin: 15px;   
}
@media screen and (min-width:1200px) {
  width: 270px;
  height: 428px;
  }
} 
.team-list__specialty {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);

  margin-top: 0;
  margin-bottom: 16px;
}